.header{
  width: 100%;
  background-color: lightgreen;
  position: fixed;
  display: block;
  border-bottom: 2px solid black;
  margin-top: 0;
}
.header li {
  display: inline;
  text-align: center;
  float: right;
  margin-right: 5%;
}
/*need to add functionality to header drop down*/
.dropbutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
.dropdowncontent {
    position: relative;
    display: inline-block;

}
.header:hover .dropdowncontent {
    display: block;
}
.title {/*align h1 and links in center*/
  position: relative;
  top: 60px;
  background-image: url("https://40.media.tumblr.com/3584de60fd2331654273b9bca5297d5b/tumblr_nfdujyAB101tecy64o1_1280.jpg");
  background-repeat: no-repeat;
  background-size: contain; /*need to change, want to fill div block no repeat*/
  height: 450px;
}
.billtie {
  float: right;
  border-radius: 50%;
  height: 400px;
  width: 250px;
}
.projectContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;

}
.javascriptProjectBoxes{
  margin: auto;
}
.htmlProjectContainer {
  background-color: lightyellow;
}
.javascriptProjectContainer {
  background-color: lightblue;
}
.rubyProjectContainer {
  background-color: pink;
}
.footer{
  background-color: lightgreen;
  position: absolute;
  bottom: 0;
}